:root {
    --scroll-area-height: 100px; 
    /* --scroll-area-height also used in main.js !!! */
    --padding-top: 72px;
    --songs-color: #17a2b8;
    --votesongs-color: #6252bc;
    --addsong-color: #306696;
    --showsong-color: #806685;
    --light-20: rgba(250,250,250,0.2);
    --light-50: rgba(250,250,250,0.5);
    --dark-20: rgba(50,50,50,0.2);
    --dark-50: rgba(50,50,50,0.5);
    --dark-70: rgba(50,50,50,0.7);
    --dark-85: rgba(50,50,50,0.85);
}

.bg-light-20 {
    background-color: var(--light-20);
}
.bg-light-50 {
    background-color: var(--light-50);
}
.bg-dark-20 {
    background-color: var(--dark-20);
}
.bg-dark-50 {
    background-color: var(--dark-50);
}
.bg-dark-70 {
    background-color: var(--dark-70);
}
.bg-dark-85 {
    background-color: var(--dark-85);
}
.bg-black {
    background-color: black;
}
.opa-50 {
    opacity: 0.5;
}
.opa-85 {
    opacity: 0.85;
}

body {
    padding: 72px 0 70px 0;
    background-color: #000000;
    color: var(--light);
}

/*
* Workaround for fixed background images on mobile devices
*/
.fixed-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image:  url(../img/bass-clef.svg), url(../img/treble-clef.svg), url(../img/band-on-stage.png);
    background-size:  7rem, 5rem, cover;
    background-position: 3% 50vh, 97% 25vh, center;
    background-repeat: no-repeat;
    z-index: -1;
}
body.votesongs .fixed-bg {
    background-image:  url(../img/bass-clef.svg), url(../img/treble-clef.svg), url(../img/red-stage.png);
}
body.charts .fixed-bg,
body.login .fixed-bg,
body.register .fixed-bg {
    background-image:  url(../img/bass-clef.svg), url(../img/treble-clef.svg), url(../img/blue-stage.png);
}

body.votesongs.scroll-area::before,
body.votesongs.scroll-area::after {
    content: '';
    position: fixed;
    right: 0;
    width: 100vw;
    animation: grow 1s ;
    height: var(--scroll-area-height);
    background-color: var(--light-20);
}
body.votesongs.scroll-area::before {
    top: 0;
}
body.votesongs.scroll-area::after {
    bottom: 0;
}
@keyframes grow {
    from{  height: 0;   }
    to  {  height: var(--scroll-area-height); }
}



.score.handle {
    padding-left: 25px;
    /* background-image: url(../img/up-down-arrow.svg), url(../img/up-down-arrow.svg); */
    background-image: url(../img/up-down-arrow.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    /* background-position: 10% center, 90% center; */
    background-position: 8% center;
    cursor: grab !important;
}

.notRated .interpretation{
    color: #dddddd !important;
    background-color: #999999 !important;
}

.notRated div.score,
.notRated div.total-score {
    color: #aaaaaa !important;
    background-color: #555555 !important;
}

.scroll-wrap {
    position: relative;
    overflow-y: scroll;
    overflow-x: visible !important;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scroll-wrap::-webkit-scrollbar { /* WebKit */
    display: none;
}

.ui-sortable-helper {
    box-shadow: 0 6px 12px #444444;
}

ul.sortable {
    height: 100%; 
}

.total-score {
    position: relative;
    cursor: default;
}
.invalid-feedback {
    position: absolute;
    width: max-content;
    left: 35%;
    top: 50%;
    z-index: 10;
    color: white;
}

.details .form-control {
    padding: 0;
    margin: 5px;
    border: none;
    font-size: 1.125rem;
    line-height: 2rem;
    min-height: 2rem;
    text-align: left;
    justify-items: start;
    /* background-color: var(--bg-input-color); */
}
.details .form-control.h1 {
    font-size: 2rem;
}
.form-control:focus {
    outline-color: #4444ff !important;
    outline-offset: -1px !important;
    outline-style: solid !important;
    outline-width: 1px !important;
}
textarea {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
textarea::-webkit-scrollbar {
    display: none;
}
.separator {
    width: 500px;
    max-width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid white;
}
.text-gold {
    color: gold;
}
.text-light-20 {
    color: var(--light-20);
}
.text-light-50 {
    color: var(--light-50);
}
.text-dark-50 {
    color: var(--dark-50);
}
.info-links a:visited.text-success {
    color: var(--teal) !important;
}

.mw-90 {
    max-width: 90%;
}

.w-300-90 {
    width: 300px;
    max-width: 90%;
}

.w-300-100 {
    width: 300px;
    max-width: 100%;
}

.br-2 {
    border-radius: 2rem;;
}

.arrow {
    width: 5vw;
    height: 5vw;
    border: 2.5vw solid;
    border-color: black transparent transparent black;
    transform: rotate(-45deg);
}

li.row.mb-3 {
    opacity: 0.9;
}

.text-sm {
    font-size: 0.6rem !important;
    vertical-align: bottom;
}

.text-md {
    font-size: 0.8rem !important;
    vertical-align: bottom;
}

.text-xl {
    font-size: 2.8rem !important;
    vertical-align: bottom;
}

.inline-block {
    display: inline-block;
}

.star-filter {
    justify-content: space-around !important;
}
.navbar-nav .nav-link {
    padding-right: 2px;
    padding-left: 2px;
}
.ext-link,
.int-link {
    position: relative;
}
.int-link:after,
.int-link:before,
.ext-link:after,
.ext-link:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: var(--dark-50);
}
.ext-link:before,
.int-link:after {
    content: "\f100";
    right: -25px;
}
.ext-link:after,
.int-link:before {
    content: "\f101";
    left: -25px;
}
.small-label {
    font-size: 12px;
}
.top-left {
    position: absolute;
    top: -10px;
    left: 10px;
}
.top-center {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.center-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3px;
}
.center-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.bottom-left {
    position: absolute;
    bottom: 0px;
    left: -3px;
}
.bottom-right {
    position: absolute;
    bottom: 0px;
    right: -3px;
}
.bottom-right-4 {
    position: absolute;
    bottom: -10px;
    right: -4px;
}
.details input[type=submit] {
    opacity: 0.3;
}
.details input[type=text]:focus + input[type=submit] {
    opacity: 1;
}
input[type=file] {
    background-color: #bbb;
}
input[type=file]::file-selector-button {
    outline: none;
    border: none;
    margin-right: 20px;
    color: white;
    background-color: #343a40;
}

.star-lg {
    font-size: 28px;
}
.star-initials {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-size: 9px;
}
.likes-pack {
    position: absolute;
    min-width: 100%;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
    bottom: -19px;
    z-index: 5;
}
.star-container {
    display: inline-block;
    width: max-content;
    padding: 1px;
    line-height: 1;
}
.hback,
.scroll-top {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.hback {
    display: block;
    left: 5%;
    bottom: 20px;
}
.hback i,
.scroll-top i {
    padding: 3px;
    font-size: 24px;
    font-weight: 700;
}
.spinner {
    animation: spin 1s infinite linear
}
@keyframes spin {
    from{  transform: rotateZ(0deg)   }
    to  {  transform: rotateZ(360deg) }
}
.pulser {
animation: pulse 2s infinite linear
}
@keyframes pulse {
    0%   { transform: scale(1); }
    91%  { transform: scale(1); }
    93%  { transform: scale(1.25); }
    94%  { transform: scale(1.25); }
    100% { transform: scale(1); }
}